@import './base.css';

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
